
/* Variáveis em CSS */
:root {
    --cor1: #f9f9f9;
    --cor2: #999999;
    --Cor3: #232323;
    --cor4: #217aff;
    --fonte-padrao: 18px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--fonte-padrao);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor2);
}

header {
    height: 250px;
    /* background-color: #217aff; */
    background-color: var(--cor4);
    color: #f9f9f9;
}

nav {
    background-color: #34455c;
    padding: 25px;
    text-align: center;
    color: #f9f9f9;
    font-size: 1.5rem;
}

section {
    min-height: 800px;
    padding: 35px;
    /* background-color: #f9f9f9; */
    background-color: var(--cor1);
}

footer {
    width: 75%;
    height: 85px;
    color: #999999;
    padding: 15px 35px;
    /* background-color: #232323; */
    background-color: var(--Cor3);
    position: fixed;
    bottom: 0;
}

.noticia1 {
    width: 15%;
    height: 100%;
    background-color: #ffad50;
    float: left;
    padding: 0 5%;
    text-align: justify;
}

.noticia2 {
    width: 15%;
    height: 100%;
    padding: 0 5%;
    background-color: #bdb76b;
    float: left;
}

.noticia3 {
    width: 30%;
    height: 100%;
    padding: 0 5%;
    background-color: #ff6e8b;
    float: left;
}